{% extends 'base.html' %} {% block title %}Create a Post{% endblock %} {% block
content_title %}Add Post for {{ user.full_name}}{% endblock %} {% block content
%}
<form action="/users/{{user.id}}/posts/new" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" placeholder="Enter a title" />
  <label for="content">Content</label>
  <input
    type="text"
    name="content"
    id="content"
    placeholder="Enter some content"
  />
  <a href="/users/{{user.id}}">Cancel</a>
  <button type="submit">Add</button>
</form>
{% endblock %}
