{% extends 'base.html' %} {% block title %}user detail{% endblock %} {% block
content_title %}Detail page for {{user.full_name}}{% endblock %} {% block
content %}
<img src="{{user.image_url}}" alt="user image" />
<div>{{userfull_name}}</div>
<div>
  <a href="/users/{{user.id}}/edit">Edit</a>
  <a href="/users/{{user.id}}/delete">Delete</a>
</div>
<div>
  <h2>Posts<h2>
  <ul>
    {% for post in posts %}
    <li>
      <a href="/posts/{{ post.id }}">{{ post.title}}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
